#chat-window {
    height: calc(100vh - 50px);
}

#chat-window-messages {
    height: 10vh;
    overflow: auto;
    position: fixed;
    max-width: 67%;
    display: flex;
    z-index: 99;
    top: 90%;
    background-color: #fff;
}

.css-1p823my-MuiListItem-root {
    align-items: flex-end;
    -webkit-align-items: flex-end;
}

.right_message {
    position: relative;
    display: inline-block;
    clear: both;
    /* margin-bottom: 8px; */
    padding: 13px 15px 17px 17px;
    vertical-align: top;
    border-radius: 5px;
    max-width: 75%;
    font-size: 16px;
    margin-left: auto;
    background-color: #4793dec4;
}

.left_message {
    position: relative;
    display: inline-block;
    clear: both;
    /* margin-bottom: 8px; */
    padding: 13px 15px 17px 17px;
    vertical-align: top;
    border-radius: 5px;
    max-width: 75%;
    font-size: 16px;
    background-color: #4793dec4;
}

.message_wraper {
    padding-bottom: 120px;
}
